---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ArrowLeft from '../../assets/svg/arrowl.svg';
import { testimonios } from '../../data/testimonios';
import Testimonials from '../../components/Testimonials.astro';
import { shoppingCartUrl } from '../../config.js';

export async function getStaticPaths() {
  const productos = await getCollection('productos');
  return productos.map(producto => ({
    params: { id: producto.id },
    props: { producto }
  }));
}

const { producto } = Astro.props;
const { data } = producto;
const { precio_publico, img, nombre, description, ingredientes } = data;

const testimonio = testimonios.filter(testimonials => testimonials.producto.toLowerCase() === nombre.toLowerCase());
--- 

<Layout>
  <section class="p-4 mx-auto max-w-4xl">
    <header >
      <a href="/" class="flex items-center gap-2 hover:underline">
        <ArrowLeft class="size-4"/>
        <span>Todos los productos</span>
      </a>
    </header>
    
    <div class="flex justify-center my-4">
      <Image 
      src={img} 
      alt={nombre} 
      class="object-contain rounded-2xl"
      width={264}
      height={264}
      loading="lazy"
      decoding="async"
      />
    </div>

    <article class="flex flex-col gap-6">
      <div class="flex justify-between items-center">
        <h2 class="text-3xl font-extralight">{nombre}</h2>
        <p>${precio_publico}.00</p>
      </div>

      <p class="text-pretty font-light ">{description}</p>
      <a 
        href={shoppingCartUrl}
        target="_blank"
        class="w-full text-lg  bg-[#ff7d00] px-6 py-2 text-[#282828] rounded-full font-semibold text-center hover:bg-[#e76c00] transition-colors"
        >
        Comprar en Happy Live
      </a>
    </article>

    <article class="mt-8">
      <h3 class="text-3xl font-extralight mb-6" >¿Qué contiene?</h3>
        <ul class="flex flex-col gap-2">
          {ingredientes.map(ingrediente => (
            <li>{ingrediente}</li> 
          ))}
        </ul>
    </article>

    <article v-if="data.beneficios" class="mt-8">
      <h3 class="text-3xl font-extralight mb-6">
          💡 Beneficios que sentirás
        </h3>
        <ul class="flex flex-col gap-2 text-gray-300">
          {data.beneficios.map(beneficio => (
            <li class="border border-gray-300 rounded-2xl p-4">{beneficio}</li>
          ))}
        </ul>
    </article>
    { 
      testimonio.length >= 1 && (  
      <h2 class="text-2xl font-bold text-gray-100 mt-12 mb-6"> 💬 Lo que dicen quienes lo prueban </h2>
        <div class="flex items-center overflow-x-scroll gap-4 py-4 px-2 sm:px-4 scrollbar-thin scrollbar-thumb-happy-pink scrollbar-track-gray-700/50 rounded">
          {testimonio.map((testimonio) => {
            return (
              <Testimonials testimonio={testimonio} />
            )
          })}
        </div>
      )
    }
  </section>
</Layout>

<style>
    
</style>
