---
import type { CollectionEntry } from "astro:content";
import { ShoppingCart } from "@lucide/astro";

const { productos } = Astro.props as {
  productos: CollectionEntry<"productos">[];
};
const { carrito } = Astro.props as {
  carrito: string;
};
---
    <section class="products p-4 lg:px-0 max-w-6xl mx-auto">
      {
        productos.map(producto => {
          const { data, id } = producto;
          const { precio_publico, contenido, img, nombre, description, tipo } = data;
          return(
            <article 
              data-product-type={tipo}
              class="product-article relative flex flex-col h-[560px] lg:h-[650px] rounded-2xl bg-center bg-no-repeat bg-cover group overflow-hidden transition-[height] duration-300 ease-in-out"
              style={`background-image: url(${img})`}
            >      
              <div class="absolute inset-0 bg-linear-to-t from-black/80 via-black/40 to-transparent group-hover:from-black/95 group-hover:via-black/75 transition-all duration-500 ease-out rounded-2xl"></div>
              
              <header class="relative z-20 flex justify-between mx-3 mb-0 pt-3 pb-2 px-1">
                <a href={carrito} target="_blank" class="flex gap-2 text-sm font-bold text-white">
                <ShoppingCart size="18"/> ${precio_publico}.00 
                </a>
                <span class="text-sm font-medium text-white">
                  {contenido}
                </span>
              </header>
  
              <a href={`/producto/${id}`} class="absolute z-20 bottom-3 right-4 text-white font-semibold text-sm hover:underline flex items-center">
                Leer más
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>
  
              <div class="relative z-10 flex flex-col h-full justify-end transform translate-y-21 group-hover:translate-y-0 transition-transform duration-300">
                <div class="p-4">
                  <h5 class="mb-2 text-white text-xl font-semibold">
                    {nombre}
                  </h5>
                  <p class="information-basica text-white/90 leading-normal font-light text-pretty">
                    {description}.
                  </p>
                </div>
                <footer class="mx-3 pb-3 pt-2 px-1">
                </footer>
              </div>
            </article>
          )
        })
      }
    </section>

  <style>
	.products {
		display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 2rem;
	}


  .information-basica {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
	
</style>
